@media screen and (min-width: 768px) {

.thanks {
	margin-inline-start: 580px;
}

.suiteForm {
	margin-inline-start: 500px;
}

.motto {
	font-size: 18px;
	color: #177CFF;	
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact {
	font-size: 20px;
	color: #E0EEE0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

/* child selectors */
div > a {
	color: #BDFCC9;
	text-decoration: none;
}

/* link pseudo-class selectors */
.nav li a:focus {
	color: black;
}

.nav li a:hover {
	color: orange;
}

.nav li a:active {
	color: red;
}
}