@media screen and (min-width: 600px) {

/* Suites */
.suites {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
}

.suiteForm {
	margin-inline-start: 255px;
}

/* class selectors */
.thanks {
	margin-inline-start: 255px;
}

.navigation li:first-child {
	display: none;
}

.navigation li {
	display: inline-block;
	margin-right: 16px;
}

.navigation li a {
    color: white;
}

.hamburger {
	display: none;
}

.motto {
	font-size: 18px;
	color: #177CFF;	
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact {
	font-size: 20px;
	color: #E0EEE0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}


/* descendant selectors */

.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	margin-right: 16px;
}

.nav li a {
		color: #E0EEE0;
}

/* child selectors */
div > a {
	color: #BDFCC9;
	text-decoration: none;
}

.nav li > a {
	text-decoration: none;
}

/* Temple Info */
.templeinfo{
	display:flex;
	flex-flow: row wrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* link pseudo-class selectors */
.nav li a:focus {
	color: black;
}

.nav li a:hover {
	color: orange;
}

.nav li a:active {
	color: red;
}
}