@media screen and (min-width: 600px) {
/* type selectors */
body { 
	margin: 0;
	padding: 0;
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;;
}

h1 {
	margin: 0;
    font-size: 30px;
	font-family: 'Montserrat', sans-serif;
    color: #4AC948;
}

h2 {
    font-size: 25px;
	font-family: 'Montserrat', sans-serif;
    color: #4AC948;
}

h3 {
    font-size: 20px;
	font-family: 'Montserrat', sans-serif;
    color: #4AC948;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

h4 {
    font-size: 22px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-weight: bold;
}

h5 {
    font-size: 18px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-weight: bold;
}

header {
    margin: 20px auto;
    padding: 10px;
	color: #4AC948;
	height: 200px;
}
main {
	margin: 20px auto;
    padding: 10px;
	text-align: left;
	color: black;
}

footer {
    text-align: center;
	margin: 20px auto;
    padding: 10px;
	color: #4AC948;
    background-color: #3D8B37;
	font-size: 12px;
}

nav {
	padding: 16px 32px;
	background: #4AC948;
}

aside {
	display: block;
	background-color: #3D8B37;
	text-align: center;
}

/* class selectors */
.news {
	margin: auto;
	height: auto;
	padding: 12px;
	display: block;
	text-align: center;
	background-color: #3D8B37;
	line-height: 32px;
}

.larticle p {
    margin: 0px;
}

.temperature {
    margin: 10px;
    max-width: 340px;
    max-height: 350px;
    background-color: #3D8B37;
    padding: 1rem;
    border: 1px solid #444;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    float: left;
    margin-top: 15px;
	opacity: .7;
}

.temperature p {
	display: block;
    margin-block-start: -.5em;
    margin-block-end: -.5em;
}

th {
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

td {
	padding-right: 13px;
	padding-left: 13px;
	text-align: center;
}

.logo {
	width: auto;
	height: auto;
	float: left;
	margin-left: 400px;
	margin-right: auto;
}

.map {
	max-width: 30%;
	max-height: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.motto {
	font-size: 18px;
	color: #4AC948;	
	margin-left: 600px;
}

.hamburger {
	display: none;
}

.contact {
	font-size: 20px;
	color: #E0EEE0;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
}

.forecast {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	max-width: 550px;
	background-color: lightblue;
	padding: 1rem;
	border: 1px solid #444;
}

.contain{
	display:flex;
	flex-flow: row wrap;
}

.cloudy {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.cloudy:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 0 0 50px #333;
}

.lightning {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.lightning:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	box-shadow: 0 0 50px #333
}

.rain {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.rain:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	box-shadow: 0 0 50px #333
}

.rainbow {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.rainbow:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	box-shadow: 0 0 50px #333
}

.snow {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.snow:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	box-shadow: 0 0 50px #333
}

.sunshine {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.sunshine:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	box-shadow: 0 0 50px #333;
}

div.form {
	display: block;
    text-align: center;
}

.form {
	display: inline-block;
	width: auto;
	max-width:500px; 
	margin:0 auto;
	background-color: #3D8B37;
	box-shadow: 0 0 50px #333;
}

.thanks {
	display: block;
    text-align: center;
	max-width:500px; 
	margin:0 auto;
	background-color: orange;
	box-shadow: 0 0 50px #333;
	margin-left: auto;
	margin-right: auto;
}

/* ID selectors */

#header, #footer
{
	padding: 32px;
	background-color: #3D8B37;
}

#main {
	margin: 16px 32px;
}

/* descendant selectors */

.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	margin-right: 16px;
}
.nav li a {
		color: #E0EEE0;
}

/* adjacent sibling selectors */
h2 + img {
	min-height: 75px;
	min-width: auto;
}

aside p list {
	color: #E0EEE0;
}

/* child selectors */
div > a {
	color: #BDFCC9;
	text-decoration: none;
}

.nav li > a {
	text-decoration: none;
}

p > list {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

aside > p {
	height: auto;
	width: 500px;
	margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
	padding: 10px;
}

list:after {
	content: '\a';
	white-space: pre;
}

/* link pseudo-class selectors */
.nav li a:focus {
	color: black;
}
.nav li a:hover {
	color: red;
}
.nav li a:active {
	color: blue;
}
}